/* Global Styles */
body {
    background-color: #fc833a;
    background-image: url("https://png.pngtree.com/background/20230520/original/pngtree-very-scary-halloween-cemetery-surrounded-by-trees-and-gravestones-picture-image_2677552.jpg");
    text-align: center;
    font-family: 'Sahitya';
    color: white;
    padding: 15px;
}


header {
    font-family: 'Ribeye';
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: red;
    padding: 60px;
    background-color: black;
}

nav{
background-color: rgb(45, 53, 60);
padding: 5px;

}
nav ul{
    list-style-type: none;
    text-align: center;
}

nav li{
    display: inline-block;
    margin: 5px;
}

nav li a {
    color: red;
}

nav li a:hover{
   background-color:  black;
}
main{
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    
}

/* unvisited link */
:any-link {
    color: red;
}

img{
    display: block;
}

#pictwo{
    width: 600px;
}

.picfive{
    width: 400px;
    margin: auto;
}

.picseven{
    width: 300px;
    margin: auto;
}

.characters{
    width: 100px;
}

#headingthree{
    text-align: left;
}

ul{
    text-align: left;
}

.heading{
    font-size: 70px;
}

.heading3{
    text-align: center;
}

#hthree{
    text-decoration: underline black ;
}

h1{
    font-size: 50px;
}

h2,
h3{
    text-align: center
}
footer{
    bottom: auto;
}

#multi_col {
    display: flex;
}

.col {
    margin: 20px;
    padding: 20px;
    border: 6px solid red;
}

.charcol {
    display: flow-root;
    margin: 10px;
    padding: 20px;
    border: 6px solid red;
}

/* Tablet Styles */

@media (min-width: 768px) {
    nav li {
        display: inline-block;
    }

    nav li a {
        width: 125px;
        height: 50px;
        line-height: 50px;
        margin: 5px;
    }
}

@media (min-width: 1024px) {
    #container {
        width: 65%;
        margin: 20px auto;
        border: 4px solid red;
        border-radius: 20px;
    }

    nav {
        padding: 2px;
        margin: 0;
    }

    nav li a {
        background-color: black;
    }

hr {
    display: none;
}

#multi_col {
    display: flex;
}

.col {
    margin: 20px;
    padding: 20px;
    border: 2px solid red;
}
}
